body{
    background-color: black;
}
input[type=text]{
    text-align: end;
}

.container{
    border: white solid 10px;
    border-radius: 10px;
    width: 250px;
    margin-top: 200px;
    background-color: darkslategrey;
}

input[type=button]{
    background-color: cornflowerblue;
    color: black;
}
